body {
  background-color: #979dac;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

@media (min-width: 992px) {
  .budget-container {
    position: absolute;
    width: 360px;
    height: 742px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #001233;
  }

  .budget-container .app-title {
    margin-top: 45px;
    display: flex;
    justify-content: center;
  }

  .budget-container .app-title a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .balance {
    margin-top: 25px;
  }

  .value {
    color: #fff;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: center;
  }
  .account {
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.7em;
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 30px;
  }

  .budget-header .account .income,
  .chart,
  .outcome {
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }

  .income .title {
    color: #fff;
    opacity: 0.5;
  }
  .income-total {
    color: #fff;
  }

  .outcome .title {
    color: #fff;
    opacity: 0.5;
  }
  .outcome-total {
    color: #2372c2;
  }

  .budget-dashboard {
    display: block;
    height: 470px;
    background-color: #fff;
  }

  .dash-title {
    display: inline-block;
    color: #001233;
    font-size: 1.7em;
    margin-left: 61px;
    margin-top: 30px;
    font-weight: bold;
  }

  .toggle {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
    font-weight: bold;
  }

  .toggle .tab {
    display: inline-block;
    cursor: pointer;
    font-size: 1.1em;
    color: #0466c8;
    opacity: 0.4;
  }

  .toggle .tab2,
  .tab3 {
    margin-left: 10px;
  }

  .active {
    opacity: 1 !important;
  }

  .hide {
    display: none;
  }

  .budget-dashboard input {
    /* Input select */
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
  }

  /* ALL */
  .budget-dashboard .all {
    width: 360px;
    height: 339px;
    position: relative;
  }

  .budget-dashboard .all ul {
    width: 360px;
    height: 370px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
  }

  .budget-dashboard .all ul li {
    position: relative;
    font-size: 1em;
  }

  .budget-dashboard .all ul li * {
    display: inline-block;
    vertical-align: middle;
  }

  .budget-dashboard .all ul li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .budget-dashboard .all ul li .edit {
    visibility: hidden;
  }

  .budget-dashboard .all ul li .delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .expense {
    position: relative;
  }
  .expense .list {
    height: 344px;
  }

  .expense .input {
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
  }

  .expense .input * {
    display: inline-block;
    vertical-align: middle;
  }

  .expense-title-input {
    height: 40px;
    width: 150px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .expense-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
    border: none;
  }

  .expense .input .add-expense img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .expense ul {
    width: 360px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
  }

  .expense ul li {
    font-size: 1em;
    margin-bottom: 10px;
    word-wrap: break-word;
  }

  .expense ul li * {
    display: inline-block;
    vertical-align: middle;
  }

  .expense ul li .entry {
    width: 250px;
    padding-left: 20px;
  }

  .expense ul li .edit {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .expense ul li .delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .incomes {
    width: 360px;
    position: relative;
  }
  .incomes .list {
    height: 344px;
  }
  .incomes .input {
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
  }

  .incomes .input * {
    display: inline-block;
    vertical-align: middle;
  }

  .income-title-input {
    height: 40px;
    width: 140px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .income-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
    margin: 5px;
    margin-left: 4px;
    border-radius: 0 10px 10px 0;
    border: none;
  }

  .incomes .input .add-income img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .incomes ul {
    width: 360px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
  }

  .incomes ul li {
    position: relative;
    font-size: 1em;
  }

  .incomes ul li * {
    display: inline-block;
    vertical-align: middle;
  }

  .incomes ul li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
  }

  .incomes ul li .edit {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .incomes ul li .delete {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
  }
  .button {
    background-color: #0466c8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-cancel {
    background-color: #f44336;
  }
}

/* Styles for tablets */
@media (max-width: 991px) {
  .budget-container {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform: none;
    background-color: #001233;
  }

  .budget-container .app-title {
    padding-top: 45px;
    display: flex;
    justify-content: center;
    font-size: 2em;
  }

  .budget-container .app-title a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .balance {
    margin-top: 45px;
    font-size: 1.5em;
  }

  .value {
    color: #fff;
    text-align: center;
  }
  .account {
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 1.5em;
    text-align: center;
  }

  .budget-header .account .income,
  .chart,
  .outcome {
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
  }

  .income .title {
    color: #fff;
    opacity: 0.5;
  }
  .income-total {
    color: #fff;
  }

  .outcome .title {
    color: #fff;
    opacity: 0.5;
  }
  .outcome-total {
    color: #2372c2;
  }

  /*Panel wydatków i przychodów*/
  .budget-dashboard {
    display: block;
    height: 100vh;
    background-color: #fff;
    margin-top: 35px;
  }

  .dash-title {
    display: flex;
    justify-content: center;
    color: #001233;
    font-size: 1.7em;
    padding-top: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }

  .toggle {
    display: flex;
    justify-content: center;
    padding-top: 35px;
    font-weight: bold;
  }

  .toggle .tab {
    display: inline-block;
    cursor: pointer;
    font-size: 1.3em;
    color: #0466c8;
    font-family: "Poppins", sans-serif;
    opacity: 0.4;
  }

  .toggle .tab2,
  .tab3 {
    margin-left: 15px;
  }

  .active {
    opacity: 1 !important;
  }

  .hide {
    display: none;
  }

  /* ALL */
  .budget-dashboard .all {
    position: relative;
  }

  .budget-dashboard .all ul {
    padding-top: 30px;
  }

  .budget-dashboard .all ul li {
    position: relative;
    font-size: 1.2em;
    padding-bottom: 15px;
  }

  .budget-dashboard .all ul li * {
    display: inline-block;
    vertical-align: middle;
  }

  .budget-dashboard .all ul li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-family: "Poppins", sans-serif;
  }

  .budget-dashboard .all ul li .edit {
    visibility: hidden;
  }

  .budget-dashboard .all ul li .delete {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  .expense {
    position: relative;
  }
  .expense .list {
    height: 470px;
  }

  .expense .input {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 890px;
    bottom: 0;
    border-top: 1px solid #ccc;
  }

  .expense .input * {
    display: inline-block;
    vertical-align: middle;
  }

  .expense-title-input {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .expense-amount-input {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
    border: none;
  }

  .expense .input .add-expense img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding-top: 7px;
  }

  .expense ul {
    padding-top: 25px;
  }

  .expense ul li {
    font-size: 1.3em;
    padding-bottom: 15px;
  }

  .expense ul li * {
    display: inline-block;
    vertical-align: middle;
  }

  .expense ul li .entry {
    width: 320px;
    padding-left: 20px;
  }

  .expense ul li .edit {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  .expense ul li .delete {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  .incomes {
    position: relative;
  }
  .incomes .list {
    height: 470px;
  }
  .incomes .input {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 890px;
    bottom: 0;
    border-top: 1px solid #ccc;
  }

  .incomes .input * {
    display: inline-block;
    vertical-align: middle;
  }

  .income-title-input {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: 10px;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .income-amount-input {
    height: 40px;
    width: 250px;
    padding-left: 10px;
    font-size: 1.2em;
    margin: 5px;
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
    border: none;
  }

  .incomes .input .add-income img {
    width: 40px;
    height: 40px;
    cursor: pointer;

    padding-top: 7px;
  }

  .incomes ul {
    padding-top: 25px;
  }

  .incomes ul li {
    font-size: 1.3em;
    padding-bottom: 15px;
  }

  .incomes ul li * {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
  }

  .incomes ul li .entry {
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .incomes ul li .edit {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  .incomes ul li .delete {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    cursor: pointer;
    background-image: url("icon/trash.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
  }

  .edit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .button {
    background-color: #0466c8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-cancel {
    background-color: #f44336;
  }
}

@media (max-width: 767px) {
  .budget-container .app-title {
    display: flex;
    justify-content: center;
  }

  .budget-container .app-title a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
  }

  .balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
  }

  .value {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .account {
    display: block;
    width: 350px;
    margin: 15px auto 0;
    line-height: 1.7em;
    text-align: center;
    font-size: 20px;
  }

  .dash-title {
    font-size: 1.4em;
  }

  .toggle {
    font-size: 0.9em;
  }

  .budget-dashboard .all ul li {
    font-size: 1em;
    padding-bottom: 25px;
  }

  .budget-dashboard .all ul li .delete {
    position: absolute;
  }
  .budget-dashboard .all ul li .entry {
    margin-bottom: 0;
  }

  .expense .input {
    width: 390px;
  }

  .expense-title-input {
    height: 40px;
    width: 150px;
    margin-left: 0;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .expense-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
  }

  .expense ul li {
    font-size: 1em;
    padding-bottom: 20px;
  }

  .expense ul li .entry {
    width: 250px;
    padding-left: 20px;
  }

  .expense ul li .edit {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
  }

  .expense ul li .delete {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("icon/trash.png");
    background-size: 20px 20px;
  }

  .incomes .input {
    width: 390px;
  }

  .income-title-input {
    height: 40px;
    width: 150px;
    margin-left: 0;
    border-radius: 10px 0 0 10px;
    border: none;
  }

  .income-amount-input {
    height: 40px;
    width: 110px;
    padding-left: 10px;
    font-size: 1.2em;
  }

  .incomes ul li {
    font-size: 1em;
    padding-bottom: 20px;
  }

  .incomes ul li .entry {
    width: 250px;
    padding-left: 20px;
  }

  .incomes ul li .edit {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
  }

  .incomes ul li .delete {
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url("icon/trash.png");
    background-size: 20px 20px;
  }

  .button {
    background-color: #0466c8;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-cancel {
    background-color: #f44336;
  }
}
